.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-box {
  background-color: rgb(17, 175, 228); /* red background */
  color: rgb(58, 42, 152);
  width: 300px;
  height: 600px;
  border-radius: 50%; /* makes it a circle */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.buttons button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  background-color: #008CBA;
  color: rgb(8, 1, 1);
  border-radius: 8px;
  transition: 0.3s;
}

.buttons button:hover {
  background-color: #e60e0e;
}
